header
{
    background-color: rgb(255, 227, 251);
}

footer
{
    
    margin-left: 650;
    
    
}

.derechos
{
    margin-left: 30;
    color: green;
    font-size: 15px;
}

.grid-layout
{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    flex-flow: column wrap;
    
}

.f1 
{
    grid-row: 3/4; 

}
