@import url(_variables.scss);



@mixin fotos($fondo: white, $colorBorde: black) 
{
    background-color: white;
    border: $colorBorde 5px;
}

@media only screen and (max-width: 390px)
{
    .fotoysonido
    {
        
        margin-left: 230px;
        text-align: center;
        font-size: 10px;
        box-sizing: border-box;
        
    }

    

    .blockquote
    {
        text-align: center;
        margin-left: 90px;
        font-size: 1px;
        box-sizing: border-box;
    }

    .titulo
    {
        font-size: 18px;
        box-sizing: border-box;
    }

    .flex-container 
    {
        margin-left: 20px;
        box-sizing: border-box;
            
    }

    .logoDoc
    {
        margin-left: -407px;
        box-sizing: border-box;
    }

    .nav
    {
        margin-left: 100px;
        box-sizing: border-box;
        
    }

 

   
    
} 

.nav
{
    justify-content: center;
}

.body
{
    background-color: rgb(0, 0, 0);
}

.textos
{
    color: white;
}

h1
{
   color: rgb(255, 255, 255);
   margin-left: 100;

}

.textoprincipal
{

    background-image: linear-gradient(to right, rgb(255, 176, 246), rgb(255, 28, 247));
       
}
p
{
    
    margin-left: 600;
    font-family: initial;
    font-size: 19px;
}



.main2
{
    
    padding-left: 700;
    font-size: 15px;
}
.collapse
{
    align-content: center;
}

.albums
{
    padding-top: 20px;
}
.foto
{
    margin-left: 135;
    display: inline;
   
    
}

.grid-layout
{
    
    grid-template-columns: auto auto auto auto auto;
    display: inline;
    justify-content: space-evenly;
    padding-top: 20px;
}

.fotosprincipal
{
    padding-left: 380px;
}


.merch
{
    
    padding-left: 700;
    
}

.caja
{
    padding-left: 30px;
    width: 500px;

}

.youtube
{
    margin-left: 535px;
}


footer
{
    
    margin-left: 595;
    
    
}